.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.show_mobile {display: none;}
.show_desktop {display: block;}
html,
body {
	margin: 0;
  	padding: 0;
  	height: 100%;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
	color: $font_grey;
}
ul {
 	padding: 0;
 	margin: 0;
} 
iframe,
img {
	max-width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5 {
	color: $heading_grey;
	margin: 0 auto 5px;
	font-weight: 300;
}
h2 {
	font-size: 36px;
	font-weight: 300;
}
.site_container {
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	font-size: 14px;
	padding-bottom: 342px;
	color: $font_grey;
}
.inner_content {
	width: 100%;
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.post {
	opacity: 0;
}
.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}
.main_content {
	margin-top: 100px;
}
.site_container section {
	padding: 35px 0;
	position: relative;
	display: block;
	overflow: hidden;
}
.site_container section header {
	text-align: center;
}


// SITE CTA 
a.site_cta {
	border: 1px solid $font_grey;
  	border-radius: 5px;
  	padding: 10px 15px;
}