// EGAN PAM STYLESHEET
// FRAMEWORK.SCSS

form {
	border-top: 1px solid $border;
	border-bottom: 1px solid $border; 
	padding: 20px 0;
	margin: 20px auto;
}
div.form_item {
	position: relative;
	overflow: hidden;
}
div.form_item input {
	width: 100%;
	display: block;
	max-width: 100%;
}
div.form_item.name,
div.form_item.name {
	float: left;
	width: 48%;
	max-width: 48%;
}
div.form_item.name input,
div.form_item.name  input {
	max-width: 100%;
}
div.form_item.name.firstName {
	margin-right: 4%;
}
div.form_item.email {
	clear: both;
}
div.form_item input,
div.form_item textarea {
	box-shadow: none;
	outline: 0;
	border-radius: 3px;
	padding: 12px;
  	margin: 6px 0 4px;
  	border: 1px solid #ccc;
  	background: #fafafa;
}
input[type="submit"] {
	color: #fff;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  background: #222e65;
  border: none;
  padding: 5px 20px;
  box-shadow: none;
}
div.form_item input.wpcf7-not-valid,
div.form_item textarea.wpcf7-not-valid {
	border: 1px solid red;
}
div.wpcf7-validation-errors {
	border: none;
	font-size: 12px;
	padding: 0;
	margin: 5px 0;
	color: red;
}
section.staff_emails {
	margin-bottom: 20px;
	overflow: hidden;
}
.contact_staff_block {
	overflow: hidden;
}
section.staff_emails ul {
	display: block;
	float: left;
	margin-right: 4%;
}
section.staff_emails ul li a {
	text-decoration: none;
	color: #222e65;
}
section.staff_emails h3,
section.location{
	clear: both;
}

section.location {
	border-top: 1px solid $border;
	margin-top: 20px;
}
section.location a {
	color: #222e65;
	text-decoration: none;
}
section.location a p {
	margin: 0;
}
section.location iframe {
	width: 100%;
}

.team .team_member_section ul.column {
	display: block;
	float: left;
	margin-right: 4%;
}

 // TABLET STYLES
@include respond-to(tablet) {

}

// MOBILE STYLES
@include respond-to(mobile) {
	section.staff_emails, 
	section.location,
	form.wpcf7-form {
		width: 92%;
		margin-left: 4%;
	}
	div.form_item.name,
	div.form_item.name {
		float: none;
		width: 100%;
		max-width: 100%;
	}
	div.form_item.name.firstName {
		margin-right: 0%;
	}

}