// EGAN PAM STYLESHEET
// FOOTER.SCSS

footer {
	clear: both;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	
}
 // TABLET STYLES
@include respond-to(tablet) {

}

// MOBILE STYLES
@include respond-to(mobile) {

}