// EGAN PAM STYLESHEET
// FRAMEWORK.SCSS

html,
body {
	background: $white;
	margin: 0;
   padding: 0;
   height: 100%;
}
.show_mobile {
	display: none;
}
.site_nav {

}
.site_container {
	min-height: 100%;
	position: relative;
	font-size: 14px;
}
.main_content {
	position: relative;
	margin-left: 240px;
	width: 100%;
	max-width: 960px;
	min-width: 700px;

}
img.attachment-my_feature_image,
img.attachment-full,
img.banner,
img.hp_banner {
	width: 100%!important;
	height: auto!important;
}
.d-5of7 {
	width: 100%;
}
 // TABLET STYLES
@include respond-to(tablet) {
	.main_content {
		position: relative;
		margin-left: 25%;
		max-width: 70%;
		min-width: 70%;
	}
}

// MOBILE STYLES
@include respond-to(mobile) {
	.show_mobile {
		display: block;
	}
	.main_content {
		position: relative;
		margin-left: 0;
		max-width: 100%;
		min-width: 100%;
	}
	.main_content h1 {
		width: 92%;
		margin-left: 4%;
	}
}