
// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$egan_blue: #164a75;  // Main blue used across the site. Header and footer background colour.
$border: #bbb; // colour used on the borders